*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Shippori Antique B1', sans-serif;
    background-image: radial-gradient(circle at 50% 50%, #9390f3 0, #737fec 25%, #486ee5 50%, #005fde 75%, #0051d7 100%);
    max-width: 1900px;
    min-width: 300px;
    margin: 0 auto;
}

#logo{
    margin-top: 20px;
    width: 30%;
    height: 30%;
}

header{
    text-align: center;
    background-color: rgb(29, 27, 27);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    padding: 10px;
    color: white;
}

section{
    margin-top: 4px;
    text-align: center;
    padding: 10px;
}

#formulario{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

#inputValue{
    font-size: 25px;
    font-weight: 700;
    margin: 14px;
    outline:none;
    border: 2px solid rgb(91, 171, 221);
    border-radius: 13px;
    font-family: 'Lato', sans-serif;
    padding: 5px 0 5px 15px;
}

#formulario button{
    width: 50%;
    margin: 0 auto;
    font-size: 27px;
    background-color: rgb(32, 62, 145);
    color: white;
    font-weight: 600;
    border-radius: 13px; 
}

#listas{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    background-image: radial-gradient(circle at 57.23% 53.37%, #e9f2f9 0, #d1dfec 50%, #b9cddf 100%);
}

#cabecera{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}


#contenido{
    width: 100%;
    margin: 0 auto;
    margin-top: 9px;
    text-align: center; 
}

.error{
    color: red;
    font-size: 20px;
    background-color: white;
    margin-top: 10px;
    
}

img{
    width: 100%;
}

.escudo, .bandera{
    width: 15%;  
    margin: 10px;
}


.key{
    font-size: 22px;
    margin: 10px; 
}

.valor{
    font-weight: 800;
    color: rgb(16, 61, 143);
}

li:nth-child(2n+1){
    background-image: radial-gradient(circle at 57.23% 53.37%, #77b6e6 0, #87bcec 50%, #7cb9ee 100%);
    list-style: none;
    word-wrap: break-word; 
}

li{
    list-style: none;
    background-image: radial-gradient(circle at 57.23% 53.37%, #77d9e6 0, #87ddec 50%, #7ce1ee 100%);
    word-wrap: break-word; 
}

.pais{
    font-size: 20px;
    border: 1px solid red;
    padding: 3%;
    border-radius: 20px;
    background-color: rgb(36, 35, 117);
    color: rgb(209, 211, 214);
    width: 30%;
    word-wrap: break-word;
}

p{
    text-align: center;
}

@media (max-width:800px){
    .escudo{
        display: none;
    }
    #cabecera{
        flex-direction: column; 
    }
    .pais{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        width: 50%;
    }
    #contenido{
        margin-top: 5px;
    }
    .bandera{
        width: 35%; 
    }
    img{
        height: 100px;
    }
    #formulario{
        width: 50%;
    }
    #ejemplo{
        width: 100%;
    }
    h1{
        font-size: 30px;
    }
    #logo{
        width: 60%;
    }
}

@media (max-width:500px){
   #formulario{
       width: 100%; 
   }
   .bandera{
    width: 50%;
   }
   body{
       min-width: 260px
   }
   #logo{
       width: 80%;
   }
}

@media (max-width:350px){
    .pais{
        width: 70%;
    }
    body{
        min-width: 300px;
    }
}